<table class="page" style="width:100%">
  <tr>
    <td style="width:70%">
      <p  class = "titre" ><img src={{imageUrl}}  width="200" height="150 " alt="Image"/></p>
      <h1>{{resto.name}}</h1>
      <h3>{{tagsString}}</h3>
    </td>
    <td><osl-restaurant-detail [resto]="resto"></osl-restaurant-detail></td>
  </tr>
  <tr>
    <td><osl-restaurant-menu [resto]="resto"></osl-restaurant-menu></td>
    <td><osl-restaurant-location [resto]="resto"></osl-restaurant-location></td>
  </tr>
</table>
<a routerLink="/">Back to home</a>
