<div>
    <div class="form-group">
        <label for="input_location">Location :</label>
        <input id="input_location" class="form-control search_input" type="text" list="list_cities" placeholder="ex:Paris" [(ngModel)]="inputLocation">
        <datalist id="list_cities">
            <option *ngFor="let city of cities" value="{{city}}">{{city}}</option>
        </datalist>
    </div>
    <div class="form-group">
        <label for="input_tag">Tag :</label>
        <input id="input_tag" class="form-control search_input" type="text" list="list_tag" placeholder="ex:French" [(ngModel)]="inputTag">
        <datalist id="list_tag" >
            <option *ngFor="let unTag of tags" value="{{unTag}}">{{unTag}}</option>
        </datalist>
    </div>
    <button id="button_search" class="btn btn-primary" (click)="getResult()">Search</button>
</div>